<div class="sidebar">
    <div class="menu">
        <a class="menu-btns active" id="summary" href="../html/summary.html" onclick="active('summary')">
            <img src="../img/summary-icon.png" alt="summary-icon">
            <span>Summary</span>
        </a>
        <a class="menu-btns" id="board" href="#" onclick="active('board')">
            <img src="../img/board-icon.png" alt="board-icon">
            <span>Board</span>
        </a>
        <a class="menu-btns" id="task" href="#" onclick="active('task')">
            <img src="../img/add-task-icon.png" alt="add-task-icon">
            <span>Add Task</span>
        </a>
        <a class="menu-btns" id="contacts" href="#" onclick="active('contacts')">
            <img src="../img/contacts-icon.png" alt="contacts-icon">
            <span>Contacts</span>
        </a>
    </div>
    <div class="menu legal-actions">
        <a class="menu-btns" id="legal-notice" href="#" onclick="active('legal-notice')">
            <img src="../img/legal-notice-icon.png" alt="legal-notice-icon">
            <span>Legal notice</span>
        </a>
    </div>
</div>