<div class="sidebar">
    <div class="menu">
        <a class="menu-btns" href="#">
            <img src="../img/summary-icon.png" alt="summary-icon">
            <span>Summary</span>
        </a>
        <a class="menu-btns" href="#">
            <img src="../img/board-icon.png" alt="summary-icon">
            <span>Board</span>
        </a>
        <a class="menu-btns" href="#">
            <img src="../img/add-task-icon.png" alt="summary-icon">
            <span>Add Task</span>
        </a>
        <a class="menu-btns" href="#">
            <img src="../img/contacts-icon.png" alt="summary-icon">
            <span>Contacts</span>
        </a>
    </div>
    <div class="menu legal-actions">
        <a class="menu-btns" href="#">
            <img src="../img/legal-notice-icon.png" alt="summary-icon">
            <span>Legal notice</span>
        </a>
    </div>
</div>