::placeholder {
    color: #D1D1D1;
}

.add-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 561px;
    height: 1056px;
    left: 320px;
    top: 137px;
}

.form-width {
    width: 422px;
    height: 74px;
    border-bottom: 1px solid #D1D1D1;
    padding: 13px 21px;
    gap: 10px;
}

.add-task-form {}

.uniform-sizing {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 0;
    border-bottom: 1px solid #D1D1D1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.input-title {
    width: 422px;
    height: 74px;
    padding: 13px 21px;
    gap: 10px;
    border: 0;
    border-bottom: 1px solid #D1D1D1;
}

.input-title-font {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #D1D1D1;
    border: 0;
}

.text-19pt {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
}

.description-area {
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 154px;
}

.description-area textarea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 103px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
}

.button-area button {
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: 0;
    flex-direction: row;
    align-items: center;
}

.button-area span {
    margin-right: 10px;
}

.button-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

select {
    background-color: #fff;
}

.margin-btn-25 {
    margin-bottom: 25px;
}

.margin-btn-45 {
    margin-bottom: 45px;
}

.subtasks-input-area {
    padding: 14px 0 14px 21px;
    width: 422px;
    /* height: 74px; */
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.subtasks-input-border-input {
    border: 0;
    margin-top: 8px;
}

.category-header {
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #42526E;
}

.noborder {
    border: 0;
}

.gray-fonts {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #D1D1D1;
}

*:focus {
    outline: none;
}