/* Responsive area */

.responsive-Header {
    display: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    width: 100%;
    position: fixed;
    height: 96px;
    background-color: white;
}

#createTaskResponsive {
    width: 113px;
    height: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    padding: 0;
}

#join_logo_blue {
    padding-left: 25px;
    padding-top: 20.99px;
}

@media (max-width: 1400px) {}

@media (max-width: 1230px) {

    header {
        background-color: white;
    }

    .header-right-content {
        display: none;
    }

    .add-task-right {
        display: none;
    }

    header {
        display: none;
    }

    #createTaskResponsive {
        display: block;
        position: fixed;
        top: 15px;
        right: 25px;
        z-index: 99 !important;
        margin-top: 0;
    }

    .responsive-Header {
        display: block;
        position: fixed;
        left: 0;
        height: 96px;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .uniform-sizing textarea {
        width: 363px;
    }

    .add-task-main {
        justify-content: center;
    }

    .add-task-left {
        margin-top: 171px;
        margin-left: 25%;
        margin-right: 25%;
        align-items: center;
    }

    .responsive-Header {
        height: 81px;
    }
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}