.board {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 232px;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    width: calc(100% - 232px);
}

.board-header-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 26px;
}

.main-header {
    display: flex;
    align-items: flex-start;
    gap: 46px;
    padding: 47px 0 11px;
}

.search {
    width: 251px !important;
    height: 51px !important;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    box-sizing: border-box;
}

#search {
    border: none !important;
}

#search::placeholder {
    color: #D1D1D1;
    font-size: 16px;
}

.line {
    width: 1px;
    border: 1px solid #D1D1D1 !important;
    margin: 8px 0px !important;
}

.input-group-text {
    background-color: white !important;
    border: none !important;
    cursor: pointer;
}

.btn-add-task {
    height: 51px;
    padding: 18px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    background-color: #4589FF;
    border: 1px solid #4589FF;
    color: white;
    font-size: 23px;
    transition: all 125ms ease-in-out;
}

.btn-add-task:hover {
    background-color: #005DFF;
    border: 1px solid #005DFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in-out;
}

.main-header-bottom {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 46px;
    padding: 0 5px;
}

.board-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}

.board-points h3 {
    font-size: 23px !important;
    font-weight: 700 !important;
    color: #42526E;
    margin: 0 !important;
}

.add-icon {
    height: 30px;
    width: 30px;
    background-image: url("../img/plus-button.png");
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.add-icon:hover {
    background-image: url("../img/plus-button-hover.png");
    transition: all 125ms ease-in-out;
}

.board-bottom-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 12px;
    /* height: 50vh; */
}

.board-tasks-container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.board-task {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 18px 19px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 46px;
    cursor: pointer;
}

.rotate {
    transform: rotate(2deg);
}

.department {
    display: flex;
    padding: 1px 25px;
    border-radius: 8px;
    color: white;
    width: fit-content;
}

.task-headline {
    margin-top: 16px;
    color: #4589FF;
    font-weight: 700;
}

.task-description {
    margin-top: 10px;
    color: #A8A8A8;
}

.contact-and-urgency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.task-contacts-container {
    display: flex;
}

.task-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0190E0;
    color: white;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    margin-left: -6px;
}

.task-contacts:first-of-type {
    margin-left: 0;
}

.pink {
    background-color: #EE00D6;
}

.green {
    background-color: #02CF2F;
}

.template-task {
    width: 100%;
    min-height: 205px;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 16px;
    z-index: -1;
}

.drag-area-highlight {
    border: 2px dashed rgba(0, 0, 0, 0.11);
}

.add-task-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    z-index: 5;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}
  
.add-task-modal {
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    height: 100vh;
    width: 518px;
    border-radius: 30px 0px 30px 30px;
    right: 0px;
    transform: translateX(580px);
    transition: all 225ms ease-in-out;
}

.slide-in {
    transition: transform 500ms ease-in-out;
    transform: translateX(0px);
  }
  
  .slide-in {
    transition: transform 500ms ease-in-out;
    transform: translateX(0px);
  }

  .add-task-header-top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 12px;
    width: 100%;
    height: 35%;
    padding: 61px 36px 17px;
  }

  .close-icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }

  .add-task-title {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }

  .add-task-header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn-create-task {
    height: 61px !important;
    font-weight: 400 !important;
    width: 180px !important;
  }