.contacts-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* background-color: rgb(248, 172, 73); */
  width: 100%;
  min-height: calc(100vh - 100px);
}

.contact-list {
  width: 400px;
  min-height: calc(100vh - 100px);
  /* border-right: solid 5px gray; */
  box-shadow: 1px 0px 2px 2px rgb(0 0 0 / 16%);
  color: rgb(0, 0, 0);
  height: 100%;
  padding: 10px;
  /* background-color: rgb(243, 199, 141); */
}

.contact-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.letters{
    padding: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #4589ff;
}

.contact-name {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

.contact-email {
  color: #4589ff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.contact {
  width: 100%;
  min-height: calc(100vh - 100px);
  height: 100%;
  padding: 10px;
  /* background-color: rgb(230, 157, 63); */
}
