html,
body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}

h2{
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
}


/* HEADER */

header {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #4589ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  z-index: 4;
  color: white;
}

.header-content {
  text-align: center;
}

header img {
  cursor: pointer;
}

.join-logo img {
  height: 58px;
  object-fit: cover;
}

.header-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.help-icon {
  width: 31px;
  height: 31px;
}

.acc-icon {
  width: 49px;
  height: 49px;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 1rem;
}

.container-fluid {
  padding: 0px !important;
}

/* SIDEBAR */

.sidebar {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  height: calc(100vh - 100px);
  width: 232px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  padding: 66px 20px;
}

.sidebar a:hover {
  color: #42526e;
}

.sidebar a:visited {
  color: #42526e;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.menu-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 30px;
  /* background-color: #d2e3ff; */
  border-radius: 8px;
  gap: 20px;
  text-decoration: none;
  color: #42526e;
}

.menu-btns img {
  height: 22px;
}

.active {
  background-color: #D2E3FF;
}

.second-active {
  background-color: #005DFF;
  color: white !important;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 232px;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  width: calc(100% - 232px);
}

.logIn__wrapper--holder {
  min-height: 50vh;
}


.top-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 200px; */
  row-gap: 20px;
  column-gap: 20px;
}

.row {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.alert-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #4589ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  width: 100%;
}

.alert-card img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}

.task-to-do-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
  min-width: 200px;
  background: #D2E3FF;;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}


.task-to-do-card img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}

.to-do-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
  min-width: 200px;
  background: #feffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.to-do-card img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}


