@media (max-width: 992px) {
    .main {
        margin-top: 10%;
    }

    .container {
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .main {
        margin-top: 18%;
    }

    .container {
        padding-bottom: 110px;
    }
}

@media (max-width: 600px) {
    .main {
        margin-top: 20%;
    }
}

@media (max-width: 500px) {
    .main {
        margin-top: 22%;
    }
}

@media (max-width: 430px) {
    .main {
        margin-top: 25%;
    }
}

@media (max-width: 380px) {
    .main {
        margin-top: 30%;
    }
}